/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

/* custom css */
body {
    color: #FFF;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: none;

}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.2em;
}

h3 {
    font-size: 2.4em;
}

h4 {
    font-size: 1.4em;
}

.view {
    height: 100vh;
    background-color: #000;
}

.view .next-page a,
.view .back-page a {
    display: block;
    height: 100%;

}

.introduction-view {
}

.introduction-view .container {
    width: 100%;
    height: 100%;
    display: table;
}

.introduction-view .container .content {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 40px;
}

.introduction-view .container .content .item {
    margin-bottom: 20px;
    opacity: 0;
}

.introduction-view .container .content .item .dot:nth-child(1) {
    animation-delay: 2.33s;
}

.introduction-view .container .content .item .dot:nth-child(2) {
    animation-delay: 2.66s;
}

.introduction-view .container .content .item .dot:nth-child(3) {
    animation-delay: 3s;
}

.introduction-view .container img#snowboard {
    height: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: snowboard-in 1s forwards;
    animation-delay: 8s;
    -webkit-animation: snowboard-in 1s forwards;
    -webkit-animation-delay: 10s;
}

.introduction-view .container img#snowboard.snowboard-out {
    animation: snowboard-out 2s forwards;
    -webkit-animation: snowboard-out 2s forwards;
}

.introduction-view .next-page {
    animation: pulse 3s ease-out;
    animation-delay: 12s;
    animation-iteration-count: infinite;
    -webkit-animation: pulse 3s ease-out;
    -webkit-animation-delay: 12s;
    -webkit-animation-iteration-count: infinite;
}

.projects-view {
}

.projects-view .container {
}

.projects-view .container .content {
}

.projects-view .container .content .item {
    margin: 80px 20px 0 20px;
    opacity: 0;
    animation: fade-in-out 4s forwards;
    -webkit-animation: fade-in-out 4s forwards;
}

.projects-view .container .content .item {
    animation-delay: 1s;
}

.projects-view .container .content #projects {
    color: rgba(0,0,0,0.8);
    height: 300px;
    width: 100%;
}

.projects-view .container .content #projects .project {
    height: 100%;
    width: 30%;
    margin: 1.6%;
    position: relative;
    float: left;
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* background: #FFF; */
    display: none;
}

.projects-view .container .content #projects .project:first-child {
    display: block;
}

.projects-view .container .content #projects .project h4 {
    margin: 20px 0 10px 0;
}

.projects-view .container .content #projects .project.project-shift {
    top: -320px;
    -webkit-animation: project-shift 0.6s forwards;
    animation: project-shift 0.6s forwards;
}
.projects-view .container .content #projects .project.project-shift:first-child {
    animation-delay: 4s;
}

.projects-view .container .content #projects .project:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.projects-view .container .content #projects .project .front,
.projects-view .container .content #projects .project .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    backface-visibility: hidden;
}

.projects-view .container .content #projects .project .front {
    z-index: 2;
    transform: rotateY(0deg);
}

.projects-view .container .content #projects .project .back {
    transform: rotateY(180deg);
}

.projects-view .container .content #projects .project.work {
}

.projects-view .container .content #projects .project .front h4,
.projects-view .container .content #projects .project .front p,
.projects-view .container .content #projects .project .front a {
}

.projects-view .container .content #projects .project.app a {
    background: url(../images/map-my-itinerary.svg) no-repeat center center;
    background-size: contain;
    height: 100%;
    display: block;
}

.projects-view .container .content #projects .project.websites {

}

.projects-view .container .content #projects .project.websites .front a,
.projects-view .container .content #projects .project.work .front p {
    height: auto;
    padding: 14px 0;
    display: block;
}

.projects-view .container .content #projects .project.websites .front a {
    text-decoration: none;
}

.projects-view .container #lightbulb {
    width: 30px;
    height: 40px;
    opacity: 0;
    left: calc(50% - 20px);
    cursor: pointer;
}

.projects-view .container #lightbulb.visible {
    opacity: 1;
}

.projects-view .container .content #lightbulb .fa {
    font-size: 60px;
}

.projects-view .container .content #lightbulb.flash .fa {
}

.projects-view .container .content #lightbulb.light-on .fa {
}

.projects-view .container #lightbulb-holder {
    width: 35px;
    height: 40px;
}

.projects-view .container #lightbulb-holder .fa {
    font-size: 40px;
}

.projects-view .container .content #projects-text {
    width: calc(100% - 40px);
    height: 100px;
    margin: 20px;
    position: absolute;
    bottom: 60px;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-animation: fade-in 1s forwards;
    animation: fade-in 1s forwards;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.projects-view .container .content #projects-text .left,
.projects-view .container .content #projects-text .right {
    width: 15%;
    height: 100%;
    float: left;
}

.projects-view .container .content #projects-text .left .project-back,
.projects-view .container .content #projects-text .right .project-next {
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin: 26px;
}

.projects-view .container .content #projects-text .left .project-back {
    background: url("../images/back-project.png");
    background-size: 100%;
}

.projects-view .container .content #projects-text .right .project-next {
    background: url("../images/next-project.png");
    background-size: 100%;
}

.projects-view .container .content #projects-text .text {
    width: 70%;
    height: 100%;
    font-size: 1.2em;
    text-align: center;
    float: left;
}

.projects-view .container .content #projects-text .text p {
    padding: 40px 0;
}

.projects-view .container audio#woosh {
    display: none;
}

.prior-learning-view {
    background-color: lightblue;
}

.prior-learning-view section {
    height: 100vw;
    /*background-color: black;*/
}

.prior-learning-view section {
    background-color: black;
}

/*.prior-learning-view section:nth-child(2) {*/
    /*background-color: red;*/
/*}*/

/*.prior-learning-view section:nth-child(3) {*/
    /*background-color: blue;*/
/*}*/

/*.prior-learning-view section:nth-child(3) {*/
    /*background-color: green;*/
/*}*/

.prior-learning-view .scroll-down {
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
}

.prior-learning-view section .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.prior-learning-view section .cover {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.prior-learning-view section .cover .text {
    padding: 15% 0;
}

.prior-learning-view section .cover .text .item,
.prior-learning-view section .cover .text .buttons .button {
    opacity: 0;
}

.prior-learning-view section .cover .text .item {
    margin-top: 10px;
}

.prior-learning-view section .cover .text .buttons a.button {
    min-width: 200px;
    display: inline-block;
    color: #FFF;
    margin: 20px;
    padding: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
    -webkit-transition: color .2s ease-in-out, fade-in 1s ease-in-out;
    transition: color .2s ease-in-out, fade-in 1s ease-in-out;
}

.prior-learning-view section .cover .text .buttons .button:hover {
    background-color: #FFF;
    color: #000;
    border: 1px solid #FFF;
}

.prior-learning-view section.rpl h4 {
    opacity: 0;
}

.prior-learning-view section.documents {
}

.prior-learning-view section.documents .item {
    margin-top: 20px;
}

.prior-learning-view section.documents .buttons {
    margin-top: 10px;
    margin-bottom: 70px;
}

.prior-learning-view .back-page,
.prior-learning-view .next-page {
    position: fixed;
}

.item .dot {
    opacity: 0;
    animation: fade-in 1s forwards;
    -webkit-animation: fade-in 1s forwards;
}

.final-view {
}

.loader {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}

.next-page,
.back-page,
#lightbulb-holder {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10px;
    opacity: 0;
}

.back-page {
    background: url("../images/back-arrow.png");
    background-size: 100%;
    left: 20px;
}

.next-page {
    background: url("../images/next-arrow.png");
    background-size: 100%;
    right: 20px;
}

#lightbulb-holder {
    right: 20px;
}

.fixed {
    position: fixed;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.pulse {
    -webkit-animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
}

.wobble {
    -webkit-animation: wobble 3s ease-out;
    -webkit-animation-iteration-count: infinite;
}

.scroll {
    margin: auto;
    position: fixed;
    right: 50px;
    bottom: 0;
    opacity: 0;
}

.scroll-down {
    -webkit-animation: move-down 2s infinite;
    animation: move-down 2s infinite;
}

.slide-down {
    -webkit-animation-name: slide-down;
    animation-name: slide-down;
}

.fade-in {
    animation: fade-in 2s forwards;
}

.fade-in-out {
    animation: fade-in-out 4s forwards;
}

.yellow {
    color: yellow;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pulse {
    from {
        transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
        opacity: 0.75;
    }

    50% {
        transform: scale(1.2, 1.2);
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }

    to {
        transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
        opacity: 0.75;
    }
}

@keyframes wobble {
    from {
        transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        opacity: 0.75;
        color: white;
    }

    10% {
        transform: scale(1.2, 1.2);
        -webkit-transform: scale(1, 1);
        opacity: 1;
        color: yellow;
    }

    20% {
        transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        opacity: 0.75;
        color: white;
    }

    30% {
        transform: scale(1.2, 1.2);
        -webkit-transform: scale(1, 1);
        opacity: 1;
        color: yellow;
    }

    40% {
        transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        opacity: 0.75;
        color: white;
    }
}

@keyframes snowboard-in {
    from {
        height: 0;
        right: 0;
    }

    to {
        height: 300px;
        right: calc(50% - 150px);
        transform: rotate(360deg);
    }
}

@keyframes snowboard-out {
    from {
        height: 300px;
        right: calc(50% - 150px);
        transform: rotate(360deg);
    }

    to {
        height: 50px;
        left: -400px;
        right: 3000px;
    }
}

@keyframes project-shift {
    from { top: -320px }
    to { top: 0 }
}

@keyframes move-down {
    from   { bottom: 100px; opacity: 0.9; }
    to { bottom: 70px; opacity: 0.4; }
}

@keyframes zoom-in {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}